<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ user.username }}</title>
	{% include "main/includes/css.html" %}

</head>
<body>
{% include "main/includes/navbar_medecin.html" %}
<h1 class="center purple-text darken-1">
	Bienvenue {{ genre }} {{ medecin.first_name }} {{ medecin.last_name }}
</h1>
{% include "main/includes/cards_acceuil_medecin.html" %}


	<!--<input accept=".csv" type="file"/>-->




<div class="fixed-action-btn">
	<a class="btn-floating btn-large purple darken-1">
		<i class="large material-icons">add</i>
	</a>
	<ul>
		<li><a href="ajout_patient" class="btn-floating tooltipped lime accent-2" data-position="left" data-tooltip="Ajouter un patient"><i class="material-icons">person</i></a></li>
		<li><a href="ajout_fichier" class="btn-floating tooltipped red accent-4" data-position="left" data-tooltip="Ajouter un fichier"><i class="material-icons">attach_file</i></a></li>
	</ul>
</div>

{% include "main/includes/footer.html" %}
{% include "main/includes/js.html" %}
<script>
	$(document).ready(function(){
    $('.sidenav').sidenav();
      });
    $(document).ready(function(){
    $('.tooltipped').tooltip();
  	});
	$(document).ready(function(){
    $('.modal').modal();
    $('.materialboxed').materialbox();
      });
    $(document).ready(function(){
      $('select').formSelect();
      $('.fixed-action-btn').floatingActionButton();
    });


</script>

</body>
</html>