<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<meta content="width=device-width, initial-scale=1" name="viewport"/>
	<title>Parallax Template - Materialize</title>

	{% include "main/includes/css.html" %}

</head>
<body background="{% static 'main/images/back100.jpg' %}">
{% include "main/includes/navbar_medecin.html" %}
<!--
<table>
	<thead>
	<tr>

		<th>Région</th>
		<th>Nombre de cas de grippe pour les bébés</th>
		<th>Nombre de cas SARI pour les bébés</th>
		<th>Nombre de consultations pour les bébés</th>
		<th>Nombre de cas de grippe pour les enfants</th>
		<th>Nombre de cas SARI pour les enfants</th>
		<th>Nombre de consultations pour les enfant</th>
		<th>Nombre de cas de grippe pour les murs</th>
		<th>Nombre de cas SARI pour les murs</th>
		<th>Nombre de consultations pour les murs</th>
		<th>Total des cas de grippe</th>
		<th>Total des cas SARI</th>
		<th>Total des consultations</th>
		<th>Numeros de semaine</th>
		<th>Mois</th>
		<th>Année</th>
		<th>Taux des cas de grippe</th>
		<th>Taux des cas SARI</th>

	</tr>
	</thead>
	<tbody>
	{% for ligne in lignes %}
	<tr>
		{% for mot in ligne %}
		<td>{{ mot }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
	</table>-->
<table>
	<thead>
	<tr>

		<th>Région</th>
		<th>Grippe bébés</th>
		<th>SARI bébés</th>
		<th>consultations bébés</th>
		<th>Grippe enfants</th>
		<th>SARI enfants</th>
		<th>Consultations enfants</th>
		<th>Grippe murs</th>
		<th>SARI murs</th>
		<th>Consultations murs</th>
		<th>Total grippe</th>
		<th>Total SARI</th>
		<th>Total des consultations</th>
		<th>n° semaine</th>
		<th>Mois</th>
		<th>Année</th>
		<th>Taux grippe</th>
		<th>Taux SARI</th>

	</tr>
	</thead>
	<tbody>
	{% for ligne in lignes %}
	<tr>
		{% for mot in ligne %}
		<td>{{ mot }}</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
	</table>

<script>
	$(document).ready(function(){
    $('.sidenav').sidenav();
      });
</script>
</body>
</html>
