<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ user.username }}</title>
	{% include "main/includes/css.html" %}

</head>
<body>
{% include "main/includes/navbar_medecin.html" %}<br><br><br>
<div class="row center">
<h4 class="purple-text darken-1">
	Veuillez choisir le formulaire désiré pour choisir<br> l'échelle nationale ou régionale<br><br>
</h4>
	</div>
<br>
<div class="row">
<div class="col s6 offset-s3">
<form enctype="multipart/form-data" method="post">
	{% csrf_token %}
	<div class="row center">
	<div class="switch"><p>
	<label>
		Regional
		<input checked="checked" name="display_type" value="natreg" onclick="toggleLiveData(this)" type="checkbox">
		<span class="lever"></span>
		National
	</label></p></div>
</div>
	<div class="row center">
	<div class="switch"><p>
	<label>
		Mensuel
		<input checked="checked" name="display_type2" value="annmen" onclick="toggleLiveData1(this)" type="checkbox">
		<span class="lever"></span>
		Annuel
	</label></p></div>
</div>
	<div id="national">
		<!--<p>
			<label for="id_algorithme">Algorithme:</label>
		<div class="select-wrapper">

			<select id="id_algorithme" name="algorithme" tabindex="-1">
				<option disabled selected="" value="">Selectionnez un algorithme à faire tourner</option>
				<option value="lstm1">lstm1</option>

				<option value="lstm4">lstm4</option>

				<option value="machine learning">machine learning</option>

				<option value="reseaux des neurones">reseaux des neurones</option>

			</select>
		</div>
		</p>-->
	</div>
	<div id="regional">
		<p>
			<label for="id_region">Region:</label>
		<div class="select-wrapper">
			<select id="id_region" name="region" tabindex="-1">
				<option disabled selected="" value="">Selectionnez une région</option>
				<option value="Tunis">Tunis</option>

				<option value="Ariana">Ariana</option>

				<option value="Mannouba">Mannouba</option>

				<option value="Ben Arous">Ben Arous</option>

				<option value="Bizerte">Bizerte</option>

				<option value="Nabeul">Nabeul</option>

				<option value="Zaghouan">Zaghouan</option>

				<option value="Beja">Beja</option>

				<option value="Jendouba">Jendouba</option>

				<option value="Le Kef">Le Kef</option>

				<option value="Siliana">Siliana</option>

				<option value="Kairouan">Kairouan</option>

				<option value="Sousse">Sousse</option>

				<option value="Mahdia">Mahdia</option>

				<option value="Monastir">Monastir</option>

				<option value="Kasserine">Kasserine</option>

				<option value="Sfax">Sfax</option>

				<option value="Gabes">Gabes</option>

				<option value="Kebili">Kebili</option>

				<option value="Gafsa">Gafsa</option>

				<option value="Sidi Bouzid">Sidi Bouzid</option>

				<option value="Tozeur">Tozeur</option>

				<option value="Medenine">Medenine</option>

				<option value="Tataouin">Tataouin</option>

			</select>
		</div>
		</p>
	</div>
	<div id="annuel">
	</div>
	<div id="mensuel">
		<p>
			<label for="id_mois">Mois:</label>
		<p class="select-wrapper">
			<select id="id_mois" name="mois" tabindex="-1">
				<option disabled selected="" value="">Selectionnez un mois</option>
	<option value="january">Janvier</option>

  <option value="february">Fevrier</option>

  <option value="march">Mars</option>

  <option value="april">Avril</option>

  <option value="may">Mai</option>

  <option value="june">Juin</option>

  <option value="july">Juillet</option>

  <option value="august">Août</option>

  <option value="september">Septembre</option>

  <option value="october">Octobre</option>

  <option value="november">Novembre</option>

  <option value="december">Decembre</option>

			</select></p></div>
	<!--<input accept=".csv" type="file"/>--><br><br><br>
	<div class="center">
	<button class="btn waves-effect waves-light" id="button" name="button" onclick="$('#progress_container').show();" type="submit" value="enter">Prédire
	</button>
	</div>
</form>

<!--<div id="national">{{ form_prediction.as_p }}</div>
<div id="regional">{{ form_region.as_p }}</div>-->


<div class="hero-content center" id='progress_container'>
	<br>
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>

		<div class="spinner-layer spinner-red">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>

		<div class="spinner-layer spinner-yellow">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>

		<div class="spinner-layer spinner-green">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
			<div class="gap-patch">
				<div class="circle"></div>
			</div>
			<div class="circle-clipper right">
				<div class="circle"></div>
			</div>
		</div>
	</div>
	<br>Veuillez patienter un petit instant..
</div>
</div></div>
{% for e in liste %}
<div class="row">
	<div class="col s6 offset-s3">
		<img class="materialboxed" src="{% static e %}">
	</div>

</div>
{% endfor %}

{% for e in erreur %}
<div class="row">
	<div class="col s6 offset-s3">
		{{ e }}
	</div>

</div>
{% endfor %}
<!--{% for e in liste %}
<div class="row">
	<div class="col s6 offset-s2">
		<img class="materialboxed" src="{% static e %}">
	</div>

</div>
{% endfor %}


<!--<div class="col s12 m3"><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<a class="btn-large waves-effect waves-light teal lighten-1 z-depth-5 lightbox-close"
	   id="download-button">Visualiser l'image</a>
</div>-->
{% include "main/includes/footer.html" %}
{% include "main/includes/js.html" %}
<script>
	$(document).ready(function(){
    $('.sidenav').sidenav();
      });








</script>
<script>
	$(document).ready(function(){
    $('.modal').modal();
    $('.materialboxed').materialbox();
      });








</script>
<script>
    $(document).ready(function(){
      $('select').formSelect();
    });
	document.getElementById("progress_container").style.display = 'none';
	document.getElementById("regional").style.display = 'none';
	document.getElementById("national").style.display = 'block';
	document.getElementById("mensuel").style.display = 'none';
	document.getElementById("annuel").style.display = 'block';
	function toggleLiveData(checkbox) {

                if (checkbox.checked) {

//$("#progress_container").show();
                document.getElementById("national").style.display = 'block';
                document.getElementById("regional").style.display = 'none';

                } else {

                  //  $("#progress_container").hide();
      document.getElementById("national").style.display = 'none';
      document.getElementById("regional").style.display = 'block';
                }

            };
function toggleLiveData1(checkbox) {

                if (checkbox.checked) {

//$("#progress_container").show();
                document.getElementById("annuel").style.display = 'block';
                document.getElementById("mensuel").style.display = 'none';

                } else {

                  //  $("#progress_container").hide();
      document.getElementById("annuel").style.display = 'none';
      document.getElementById("mensuel").style.display = 'block';
                }

            };





</script>

</body>
</html>