{% load static %}
<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper  teal lighten-4 z-depth-5">

			<a class="sidenav-trigger button-collapse show-on-large" data-target="slide-out" href="#"><i
					class="material-icons">menu</i></a>
			<a class="brand-logo" data-target="slide-out" href="/acceuil"><img class="circle" height="64" src="{{ medecin.photo.url }}"
																		width="64"></a>
			<ul class="right hide-on-med-and-down" id="nav-mobile">
				<li><a href="/logout">Déconnexion</a></li>
			</ul>

		</div>
	</nav>
</div>

<ul id="slide-out" class="sidenav">
	<li>
		<div class="user-view">
			<div class="background">
				<img src="{% static 'main/images/back2.jpg' %}">
			</div>
			<a href="#user"><img class="circle" src="{{ medecin.photo.url }}"/></a>
			<a href="#name"><span class="white-text name"><i class="material-icons">account_circle</i>{{ medecin.user.username }}</span></a>
			<a href="#email"><span class="white-text email"><i class="material-icons">contact_mail</i>{{ medecin.user.email }}</span></a>
		</div>
	</li>
	<li><a href="#">Mes données</a></li>
	<li>
		<div class="divider"></div>
	</li>
	<li><a href="/mes_patients"><i class="material-icons">person</i>Mes patients</a></li>
	<li><a href="/mes_fichiers"><i class="material-icons">attach_file</i>Mes fichiers</a></li>

</ul>
